/* Write your code here. */

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-container {
  margin: 0;
}
.emoji-card-container {
  background: linear-gradient(to right, #9796f0, #fbc7d4);
  margin: 0;
  padding: 50px;
  box-sizing: border-box;
  border: none;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .emoji-card-container {
    height: 85vh;
  }
}
.content {
  margin: 0px;
}
